<%= form_for @article do |f| %>
	<% if @article.errors.any? %>
		<div class='error-desc'>
			<h2>
				<%= pluralize(@article.errors.count, "error") %> occurred in saving article
			</h2>
			<ul>
				<% @article.errors.full_messages do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class:'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_area :body, class:'form-control' %>
	</div>

	<div>
		<%= f.submit class:'btn btn-primary' %>
	</div>

<% end %>